
<div class="form">
  <%= form.text_field :email, type: 'email',:class => 'form-box' %>
</div>

<div class="password-field">
  <%= form.label :password, class:"password" %>
  <%= form.password_field :password %>

<div class="form">
  <%= form.password_field :password, :class => 'form-box'%>
</div>
