<% if current_user %>
	<%= current_user.name %>
	<%= current_user.email %>

	<%#= image_tag current_user.image %>


	<div> <%= link_to "Edit Profile", edit_user_path(current_user.id) %> </div>
<% end %>

