/*// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.main{
/*	background-image: url("background_pic.png");
*/	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 720px
}

.main .buttons{
	width: 450px;
	height: 350px;
	margin: auto;
}

.main .badminton, .bbq, .basketball, .gym, .swim, .tennis{
	width: 90px;
	height: 90px;
	margin: auto;
}

.main .category{
	border: 2px solid black;
	margin: auto;
	width: 100px;
	height: 100px;
}
