/*// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.main{
	background-image: url("background_pic.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 720px
}


.main .category .badminton, .bbq, .basketball, .gym, .swim, .tennis{
	width: 90px;
	height: 90px;
	
}

.main .category{
	border: 2px solid black;
	align-items: center;
	text-align: center;
}

.buttons{
	margin-top: 10em;
}

.navbar-custom{
	text-align: center;
}

.navbar-custom .navbar-header{
	width: 65px;
	height: 65px;
}

.navabar-custom .signout{
	width: 65px;
	height: 65px;
}

.navbar-custom .profile-pic{
	border-radius: 100px;
	width: 35px;
	height: 35px;
}
