#wrapper{
    margin: 20px auto;
    width: 45%;
    height: auto;
    background-color: #E0E0E0;
    border-radius: 10px;
}

#profile-header{
    background-color: green;
    border-radius: 10px;
    height: 100px;
    text-align: center;
}

#profile-header h2{
    line-height: 100px;
}

#profile-settings-main{
    padding: 15px;
}


.user-sign-up{
    margin: auto;
    border: 2px solid black;
    width: 300px
}

.user-sign-up h2{
    border-bottom: 2px solid black;

}

.user-sign-in{
    margin: auto;
    border: 2px solid black;
    width: 300px
}
