#profile-super-wrapper{
  background-image: url("city-1.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: none;
  background-image: center;
  padding: 50px;
}

#wrapper{
    margin: auto;
    width: 400px;
    height: auto;
    background-color: #E0E0E0;
    border-radius: 10px;
}

#user-profile-header{
    background-color: black;
    border-radius: 10px;
    height: 100px;
    text-align: center;
}

#user-profile-header h2{
    line-height: 100px;
    margin: 0;
    color: white;
}

#profile-settings-main{
    padding: 15px;
}


.user-sign-up{
    margin: auto;
    border: 2px solid black;
    width: 300px
}

.user-sign-up h2{
    border-bottom: 2px solid black;

}

.user-sign-in{
    margin: auto;
    border: 2px solid black;
    width: 300px;
    text-align: center;
    padding-top: 10px;
}

.label-wrap{
    height: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.text-field{
    display: inline-block;
    width: 105px;
    padding-left: 7px;
    height: 50px;
    line-height: 50px;
    background-color:#F8F8F8;
    vertical-align: top;
    text-align: left;
}

.form{
    display:inline-block;
    height:50px;
    vertical-align: top;
}

.form-box{
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border: none;
    padding: 5px 0 0 5px;
}

.profile-submit-field{
    text-align: center;
    border-radius: 5px;
    padding: 10px 0 10px;
}

// ___________SIGN IN CSS _________________

#sign-in-settings-main{
    text-align: center;
    padding-top: 10px;
}

#wrapper1{
    margin: 20px auto;
    width: 400px;
    height: 400px;
    background-color: #E0E0E0;
    border-radius: 10px;
}
///------------Management Profile--------//
#super_wrap{
  display: flex;
  background-image: url("city-2.jpg");
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-repeat: none;
  background-image: center;
}

#wrapper2{
    margin: 20px auto;
    width: 400px;
    height: 560px;
    background-color: #e9e9e9;
    border-radius: 10px;
}
#wrapper3{
    margin: 20px auto;
    width: 830px;
    height: 70%;
    background-color: #e9e9e9;
    border-radius: 10px;
}

#management-profile-header{
  margin: 0 0 15px 0;
  background-color: #006680;
  border-radius: 10px;
  text-align: center;
  background-color: black;
}

#management-profile-header h2{
  margin: 0px;
  line-height: 100px;
  color: #e9e9e9;
}

#profile-pic{
    width:200px;
    height:150px;
    margin:auto;
    background-color: teal;
}
#profile_picture_size{
    width: 200px;
    height: 150px;
}

#text-managment{
    text-decoration: none;
}

.management-name{
    text-decoration: none;
    font-size: 1em;
}

.management-box{
    margin: 0 auto 10px;
    padding: 10px 0 10px;
    width:75%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.management-box a{
  text-decoration: none;
  color: black;
}

.management-box:hover{
  background-color: #006680;
}

.btn_sign_out {
  background: #c334d9;
  background-image: -webkit-linear-gradient(top, #c334d9, #2980b9);
  background-image: -moz-linear-gradient(top, #c334d9, #2980b9);
  background-image: -ms-linear-gradient(top, #c334d9, #2980b9);
  background-image: -o-linear-gradient(top, #c334d9, #2980b9);
  background-image: linear-gradient(to bottom, #c334d9, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_sign_out:hover {
  background: #4cfc3c;
  background-image: -webkit-linear-gradient(top, #4cfc3c, #d9346b);
  background-image: -moz-linear-gradient(top, #4cfc3c, #d9346b);
  background-image: -ms-linear-gradient(top, #4cfc3c, #d9346b);
  background-image: -o-linear-gradient(top, #4cfc3c, #d9346b);
  background-image: linear-gradient(to bottom, #4cfc3c, #d9346b);
  text-decoration: none;
}

//---CSS for reservation_table---//

table.cinereousTable {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 0 10px 0 10px;
}
table.cinereousTable td, table.cinereousTable th {
  border: 1px solid black;
  padding: 4px 4px;
}
table.cinereousTable tbody td {
  font-size: 1em;
}
table.cinereousTable thead {
  background: #948473;
  background: -moz-linear-gradient(top, #006680 0%, #006680 66%, #006680 100%);
  background: -webkit-linear-gradient(top, #006680 0%, #006680 66%, #006680 100%);
  background: linear-gradient(to bottom, #006680 0%, #006680 66%, #006680 100%);
}
table.cinereousTable thead th {
  font-size: 1em;
  color: white;
  text-align: left;
  border-left: 1px solid black;
}
table.cinereousTable thead th:first-child {
  border-left: none;
}