#wrapper{
    margin: 20px auto;
    width: 400px;
    height: 620px;
    background-color: #E0E0E0;
    border-radius: 10px;
}

#profile-header{
    background-color: green;
    border-radius: 10px;
    height: 100px;
    text-align: center;
}

#profile-header h2{
    line-height: 100px;
}

#profile-settings-main{
    padding: 15px;
}


.user-sign-up{
    margin: auto;
    border: 2px solid black;
    width: 300px
}

.user-sign-up h2{
    border-bottom: 2px solid black;

}

.user-sign-in{
    margin: auto;
    border: 2px solid black;
    width: 300px;
    text-align: center;
    padding-top: 10px;
}

.label-wrap{
    height: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.text-field{
    display: inline-block;
    width: 105px;
    padding-left: 7px;
    height: 50px;
    line-height: 50px;
    background-color:#F8F8F8;
    vertical-align: top;
    text-align: left;
}

.form{
    display:inline-block;
    height:50px;
    vertical-align: top;
}

.form-box{
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #F8F8F8;
    border: none;
    padding: 5px 0 0 5px;
}

.submit-field{
    text-align: center;
    border-radius: 5px;
}

// ___________SIGN IN CSS _________________

#sign-in-settings-main{
    text-align: center;
    padding-top: 10px;
}

#wrapper1{
    margin: 20px auto;
    width: 400px;
    height: 400px;
    background-color: #E0E0E0;
    border-radius: 10px;
}
///------------Management Profile--------//
#wrapper2{
    margin: 20px auto;
    width: 400px;
    height: 520px;
    background-color: #E0E0E0;
    border-radius: 10px;
}

#profile-pic{
    width:120px;
    height:150px;
    margin:auto;
    background-color: teal;

}

#text-managment{
    text-decoration: none;
}

.management-name{
    text-decoration: none;
    font-size: 1em;
}

.management-box{
    margin: 0 auto 10px;
    padding: 10px 0 10px;
    width:75%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.management-box a{
        text-decoration: none;
        color: black;
}

.management-box:hover{
    background-color: orange;
}

